
/* /* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("ttf");
}

:root {
	/* --header-font-family: 'Mohave', sans-serif;; */
	/*--links-font-family: 'Numans', sans-serif;*/
	--main-font-family: 'SF Pro', sans-serif;
	--black-color: #000000;
	--black-color-hover: #000000;
	--white-color: #fcfcfc;
}

.light {
	--primary-color: #fcfcfc;
	--primary-color-hover: #fff;
	--secondary-color: #EAEAEA;
	--tertiary-color: #d6d6d6;
	--accent-color: #0A66CE;
	--accent-color-hover: #0b52a2;
	--header-text-color: #272727;
	--primary-text-color: #5E5E5E;
	--shadow: rgba(0 0 0 / 10%);
}

.dark {
	--primary-color: #050505;
	--primary-color-hover: #000;
	--secondary-color: #191919;
	--tertiary-color: #383838;
	--accent-color: #6b89ff;
	--accent-color-hover: #5e77d9;
	--header-text-color: #e7e7e7;
	--primary-text-color: #b9b9b9;
	--shadow: rgba(0 0 0 / 80%);
}


* {
	margin: 0;
	box-sizing: border-box;
	transition: 0.3s;
}

body, html {
	height: 100%;
	font-family: var(--main-font-family);
	background: var(--primary-color);
	/ background: linear-gradient(180deg, rgba(252,252,252,1) 35%, rgba(237,237,237,1) 68%); */
	/* background: linear-gradient(180deg, #fcfcfc 30%, rgb(226, 237, 250) 68%); */
	scroll-behavior: smooth;
	overflow-x: hidden;
}


h1 {
	font-size: 60px;
	color: var(--header-text-color);
	margin-bottom: 16px;
}

h2 {
	font-size: 48px;
	color: var(--header-text-color);
	margin-bottom: 16px;
}

h3 {
	font-size: 32px;
	color: var(--header-text-color);
	margin-bottom: 8px;
}

p {
	font-size: 22px;
	line-height: 150%;
	color: var(--primary-text-color);
	margin-bottom: 8px;
}

a {
	color: var(--accent-color);
	transition: 0.2s;
	font-size: 22px;
	font-family: var(--links-font-family);
	text-decoration: none;
	letter-spacing: 1px;
}

a:hover {
	color: var(--accent-color-hover);
	font-style: italic;
}

nav {
	display: flex;
	gap: 16px;
}

main {
	padding: 5%;
}


.icons {
	display: flex;
	gap: 32px;
}

.icons .inner {
	display: flex;
	gap: 32px;
}

.icons .inner ion-icon {
	font-size: 32px;
	color: var(--header-text-color);
	padding: 16px;
	background: var(--primary-color);
	border-radius: 20px;
	cursor: pointer;
	transition: 0.2s;
}

.icons .inner ion-icon:hover {
	background: var(--tertiary-color) !important;
}


.top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 16px 32px;
	align-items: center;	
}

.top h3 {
	text-align: center;
	margin: 0;
}

.full {
	flex-direction: column;
	width: 300px;
	background: var(--secondary-color);
	left: 0 !important;
	height: 100%;
}

.top .left {
	display: flex;
	gap: 32px;
	align-items: center;
}

.top .logo {
	display: flex;
	gap: 16px;
	align-items: center;
}

.top .logo .profile-picture {
	border-radius: 50%;
	background: var(--secondary-color);
	width: 64px;
	height: 64px;
}

.top .theme {
	font-size: 32px;
	cursor: pointer;
	color: var(--accent-color);
	transition: 0.2s;	
}

.top .theme:hover {
	transform: scale(1.1);
	color: var(--accent-color-hover);
}

.top .theme.rotated {
	transform: rotate(-180deg);
}

.top .theme.rotated:hover {
	transform: rotate(-180deg) scale(1.1);
}

.hamburger {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 32px;
	height: auto;
	cursor: pointer;
	position: absolute;
	top: 32px;
	right: 32px;
	display: none;
	z-index: 2;
	min-height: 50px;
}

.hamburger .line {
	height: 2px;
	background: var(--primary-text-color);
	border-radius: 8px;
	transition: 0.3s;
	right: 0;
	position: relative;
	top: 0;
	cursor: pointer;
	bottom: 0;
}

.line1-bent {
	transform: rotate(45deg);
	margin-bottom: -8px;
}

.line2-bent {
	right: -100px !important;
}

.line3-bent {
	transform: rotate(-45deg);
	margin-top: -12px;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 80%;
}

.home .container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 310px;
}


.home .container .speech-bubble {
	animation: wiggle 1s ease-in-out; 
}

@keyframes wiggle {
	0% { transform: scale(0.7) rotate(5deg) }
	20% { transform: scale(1.1) rotate(-5deg) }
	30% { transform: scale(1.1) rotate(5deg) }
	40% { transform: scale(1.1) rotate(-5deg) }
	50% { transform: scale(1.1) rotate(5deg) }
	100% { transform: scale(1) rotate(0deg) }
}

.speech-bubble .inner {
	padding: 32px;
	border-radius: 40px;
	border-bottom-left-radius: 0;
	background: var(--secondary-color);
}

.speech-bubble .tail {
	clip-path: polygon(0% 0%, 0% 100%, 50% 0%);
	width: 100px;
	height: 32px;
	background: var(--secondary-color);
	margin-top: -1px;
}

.home .container nav {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.about {
	height: 80%;
	padding: 100px;
	display: flex;
	gap: 150px;
	padding-top: 10%;
}

.about .text {
	width: 60%;
}

.about .speech-bubble {
	width: 500px;
	height: 220px;
	cursor: pointer;
	margin-top: 64px;
}

.about .speech-bubble:hover {
	transform: scale(1.1);
}

.about .speech-bubble:active {
	transform: scale(1);
}

.about .speech-bubble .inner {
	min-height: 200px;
}

.projects .container {
	display: flex;
	flex-direction: column;
	gap: 128px;
	margin-top: 128px;
}

.projects .container .project {
	width: 90%;
	height: auto;
	min-height: 450px;
	border-radius: 40px;
	padding: 32px;
	display: flex;
	gap: 64px;
	justify-content: space-between;
	background: var(--secondary-color);
}

.projects .container .project.right {
	margin-left: auto;
	flex-direction: row-reverse;
}

.projects .container .project .text {
	width: 60%;
}

.projects .container .project.right .text {
	text-align: right;
}

.projects .container .project .buttons {
	display: flex;
	gap: 32px;
	margin-top: 32px;
	flex-wrap: wrap;
}

.projects .container .project .buttons a {
	border-radius: 8px;
	padding: 8px 16px;
	font-size: 20px;
	background: var(--accent-color);
	color: var(--white-color);
	overflow: hidden;
	white-space: nowrap;
}

.projects .container .project .buttons a:hover {
	background: var(--accent-color-hover);
	letter-spacing: 1px;
}

.projects .container .project .buttons a.secondary {
	background: var(--primary-color);
	color: var(--header-text-color);
}

.projects .container .project .buttons a.secondary:hover {
	background: var(--primary-color-hover);
}

.projects .container .project .media {
	width: 40%;
}

.projects .container .project .media .image {
	border-radius: 40px;
	background: var(--tertiary-color);
	width: 100%;
	height: 100%;
}

.contact {
	height: 80%;
	padding: 10%;
	display: flex;
	gap: 150px;
}

.contact .text {
	width: 50%;
}

.contact .speech-bubble {
	width: 500px;
}

.contact .icons {
	margin-top: 32px;
}

.contact .icons ion-icon {
	background: var(--secondary-color);
}

.contact + footer {
	height: 70px;
	position: fixed;
	width: 100%;
	bottom: 0;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--secondary-color);
	height: 50%;
	gap: 32px;
	padding: 32px 32px 16px 32px;
}

footer .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: auto;
}

footer .bottom p, footer .bottom a {
	font-size: 18px;
}

footer .bottom .copyright {
	display: flex;
	gap: 8px;
	color: var(--primary-text-color);
	align-items: center;
}

footer .bottom .copyright p {
	margin-bottom: 0;
}

footer .bottom ion-icon {
	color: var(--accent-color);
	font-size: 32px;
	transform: rotate(90deg);
	cursor: pointer;
	transition: 0.2s;
}

footer .bottom ion-icon:hover {
	transform: rotate(90deg) scale(1.3);
}

::selection {
	background: var(--accent-color);
	color: var(--white-color);
}

@media only screen and (max-width: 1000px) {
	.about {
		flex-direction: column;
		height: auto;		
		gap: 50px;
	}

	.about .text {
		width: 100%;
	}

	.about .speech-bubble {
		margin-left: auto;
		margin-right: auto;
	}

	.projects .container {
		margin-top: 64px;
		gap: 64px;
	}

	.projects .container .project {
		flex-direction: column-reverse !important;
		width: 100%;
		gap: 32px;
		padding: 16px;
	}

	.projects .container .project > * {
		width: 100% !important;
	}

	.projects .container .project.right .text {
		text-align: left;
	}

	.projects .container .project .media {
		height: 300px;
	}

	.projects .container .project .buttons {
		gap: 16px;
		margin-bottom: 16px;
	}

	.contact {
		flex-direction: column;
		gap: 64px;
		height: auto;
	}
}

@media only screen and (max-width: 800px) {
	.top {
		position: absolute;
		left: -1000px;
		height: 100%;
		z-index: 2;
		box-shadow: 6px 0 20px var(--shadow);
	}

	.top .logo {
		flex-direction: column;
	}

	.top .logo .profile-picture {
		background: var(--primary-color);
	}

	.top nav {
		flex-direction: column;
	}

	.top .left {
		flex-direction: column;
		
	}

	.hamburger {
		opacity: 1;
		background: var(--primary-color);
		padding: 10px;
    width: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
		box-shadow: 2px 2px 6px var(--shadow);
	}
}

@media only screen and (max-width: 700px) {
	footer {
		padding: 16px;
		height: auto;
	}
	
	footer p {
		text-align: center;
	}
	

	footer .bottom {
		margin-top: 32px;
	}

	footer .bottom .copyright {
		flex-direction: column;
		gap: 0;
	}
		
  .icons {
		flex-direction: column;
	}

	.contact .text {
		width: 100%;
	}

	.about .speech-bubble, .contact .speech-bubble {
		width: 100%;
	}

	.contact + footer {	
		height: auto;
		position: static;
	}
}

@media only screen and (max-width: 500px) {
	main {
		padding: 100px 20px 200px 20px !important;
	}

	.home {
		/* padding-top: 400px !important; */
		height: auto;
	}
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color); 
} 